#mainContent {
  width: 1000px;
  margin: auto;
}
header {
  background: #e8e8e8;
  padding: 5px;
  color: #333;
  padding-left: 20px;
}

div.content {
  background: #ccc;
  padding: 5px 20px;
}

div.content > textarea {
  width: 600px;
}

div.footer {
  background: #f8f8f8;
  padding: 30px 20px;
  display: flex;
}

div.footer > div.about {
  padding-left: 30px;
}
